*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #F0F0F0;
    border-top: 5px solid black;
    padding: 60px;
}

img {
    border-radius: 10%;
}

.footer-mid {
    display: flex;
}

#livraison  {
    cursor: pointer;
}

#livraison li:hover {
    color: red;
}